body {
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    background-color: #b22222;
}

h4 {
    font-style: italic;
}
 
h1 {
    background-color: #999999;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 15px 10px 15px;
}

.month {
    float: left;
    width: 29%;
    margin: 2%;
    border-radius: 10px;
    background-color: #7fffd4;
}

img {
    width: 300px;
    height: 150px;
    border-radius: 20px;
}

td {
    border: 1px solid #000000;
    
}

.calendar {
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}
